*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

.forgot-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#b8c9e7,#9db6dc);
}

.container{
    width:420px;
    background:linear-gradient(135deg,#355d84,#5b89ad);
    border:1px solid rgba(255,255,255,.35);
    backdrop-filter:blur(8px);
    border-radius:20px;
    padding:40px;
    box-shadow:0 15px 35px rgba(0,0,0,.35);
    text-align:center;
}

.icon{
    width:80px;
    height:80px;
    margin:auto;
    background:white;
    color:#355d84;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    margin-bottom:20px;
}

h2{
    color:#fff;
    margin-bottom:10px;
}

p{
    color:#f3f3f3;
    font-size:14px;
    margin-bottom:25px;
}

.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box input{
    width:100%;
    padding:15px 45px 15px 15px;
    border:none;
    outline:none;
    border-radius:10px;
    font-size:15px;
}

.input-box i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    color:#555;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#1d3557;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#13263f;
}

.back{
    display:inline-block;
    margin-top:20px;
    color:#fff;
    text-decoration:none;
    font-size:14px;
    font-weight:500;
    transition:.3s;
}

.back:hover{
    color:#dceeff;
}